.main-header
  position: relative
  width: 100%
  margin-top: 0
  margin-bottom: 0

  .image
    background-color: rgba(0, 0, 0, 0)
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width: 100%
    z-index: 20
    height: 400px

    @media (min-width: $screen-sm)
      height: 500px

    @media (min-width: $screen-md)
      height: 600px

    @media (min-width: $screen-lg)
      height: 700px

.main-header-overlay
  width: 100%

  .brand-container
    z-index: 1000
    background: rgba(255, 255, 255, 0.63)
    margin-top: -101px
    position: absolute
    padding: 20px

  .brand-container .brand-name
    font-family: serif
    font-size: 50px
    line-height: 42px
    color: #000000

  .brand-container .brand-category
    text-align: right
    margin-right: 6px
    font-size: 20px
    line-height: 20px

  @media (max-width: $screen-xs-max)
    .brand-container
      width: 100%

    .brand-container .brand-name
      float: right

    .brand-container .brand-category
      float: right
      margin-top: 41px
      margin-right: -208px

  @media (min-width: $screen-sm)
    .brand-container
      margin-top: -146px
      padding: 32px

    .brand-container .brand-name
      font-size: 70px
      line-height: 62px

    .brand-container .brand-category
      font-size: 20px
      margin-right: 9px

  @media (min-width: $screen-md)
    .brand-container
      margin-top: -190px
      padding: 40px

    .brand-container .brand-name
      font-size: 100px
      line-height: 90px

    .brand-container .brand-category
      margin-right: 9px
      font-size: 23px
      line-height: 23px

.main-header .image
  height: 400px

  @media (min-width: $screen-sm)
    height: 500px

  @media (min-width: $screen-md)
    height: 600px

  @media (min-width: $screen-lg)
    height: 700px

.float-left
  float: left !important

.glow
  -webkit-text-fill-color: transparent
  background: -webkit-linear-gradient(transparent, transparent),url(https://media.giphy.com/media/3IaC81YOZudfa/giphy.gif) repeat
  background: -o-linear-gradient(transparent, transparent)
  -webkit-background-clip: text
  text-shadow: 0 0 0.3em #ccac00


.logo-z
  margin-left: 5px
  margin-right: 5px
  font-size: 60px

  @media (min-width: $screen-sm)
    font-size: 90px

  @media (min-width: $screen-md)
    font-size: 130px