body
  font-family: Arial, Helvetica, sans-serif
  font-size: 15px
  line-height: 24px
  color: #333
  background-color: #fff
  font-weight: 300

.main-header
  position: relative
  width: 100%
  margin-top: 0
  margin-bottom: 0

  .image
    @include cover-centered-background
    background-color: rgba(0, 0, 0, 0)
    width: 100%
    z-index: 20
    height: 400px

    @media (min-width: $screen-sm)
      height: 500px

    @media (min-width: $screen-md)
      height: 600px

    @media (min-width: $screen-lg)
      height: 700px

.main-header-overlay
  width: 100%

  .brand-container
    z-index: 1000
    background: rgba(255, 255, 255, 0.63)
    margin-top: -101px
    position: absolute
    padding: 20px

  .brand-container .brand-name
    font-family: serif
    font-size: 50px
    line-height: 50px
    color: #000000

  .brand-container .brand-category
    text-align: right
    margin-right: 6px
    font-size: 20px
    line-height: 20px

  @media (max-width: $screen-xs-max)
    .brand-container
      width: 100%

    .brand-container .brand-name
      float: right

    .brand-container .brand-category
      float: right
      margin-top: 46px
      margin-right: -208px

  @media (min-width: $screen-sm)
    .brand-container
      margin-top: -146px
      padding: 32px

    .brand-container .brand-name
      font-size: 70px
      line-height: 62px

    .brand-container .brand-category
      font-size: 20px
      margin-right: 9px

  @media (min-width: $screen-md)
    .brand-container
      margin-top: -190px
      padding: 40px

    .brand-container .brand-name
      font-size: 100px
      line-height: 90px

    .brand-container .brand-category
      margin-right: 9px
      font-size: 23px
      line-height: 23px

.main-header .image
  height: 400px

  @media (min-width: $screen-sm)
    height: 500px

  @media (min-width: $screen-md)
    height: 600px

  @media (min-width: $screen-lg)
    height: 700px

.logo-z
  margin-left: 5px
  margin-right: 5px

section
  padding: 80px 0

section:nth-child(odd)
  background: #ffffff

section:nth-child(even)
  background: #f7f8fa

.section-intro
  margin-bottom: 40px

  p
    margin: 0

.section-title
  margin-top: 0

#intro
  .intro-content
    border: 1px #b9b9b9 dotted
    margin-top: 40px
    height: 400px
    font-family: "Yanone Kaffeesatz", sans-serif
  
  .text
    font-size: 40px
    color: #b9b9b9
    margin-top: 185px

#services
  .service
    background-color: #ffffff
    box-shadow: 0px 3px 0 #f0f1f3
    padding: 20px
    position: relative
    display: block

    .title
      margin-bottom: 30px
      display: block
      position: relative
      border-bottom: 2px solid #f7f8fa

      h4
        font-size: 28px
        padding-bottom: 0
        
      .separator
        background-color: #242424
        display: block
        height: 2px
        margin: 10px auto -2px auto
        position: relative
        width: 40px

    .image
      @include cover-centered-background
      width: 100%
      height: 300px

    .description
      font-family: "Yanone Kaffeesatz", sans-serif
      color: #777777
      line-height: 20px
      margin-top: 30px
      font-size: 17px
